.container {
  flex: 1;
  overflow-y: scroll;
  padding: 1.75em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  padding: 5em;
}

.fill {
  width: 100%;
}
