.container {
  background-color: var(--field-color);
  border-radius: 8px;
  padding: 1.35em;

  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 125ms ease-out;
}

.container:hover {
  box-shadow: inset 0 0 0 2px var(--tertiary-color);
  cursor: pointer;
}

.container:active {
  filter: brightness(1.3);
}

.container.isDisabled:hover {
  border: unset;
  cursor: unset;
}

.container.isDisabled:active {
  filter: unset;
}

.right-container {
  flex: 1;
}

.product-name {
  color: var(--white);
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.product-total {
  width: 30%;
  color: var(--tertiary-color);
  font-size: 1rem;
}

.counter {
  display: flex;
  gap: 16px;
}

.counter-qty {
  color: var(--text-color);
}

.counter-btn {
  --size: 22px;

  background-color: var(--accent-color);
  color: var(--text-color);
  width: var(--size);
  height: var(--size);
  border-radius: 4px;
  font-size: 1.1rem;

  transition: filter 125ms ease, transform 125ms ease;
}

.counter-btn:hover {
  filter: brightness(1.2);
}

.counter-btn:active {
  transform: scale(1.2);
}
