.grid {
  --width: 256px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  gap: 28px;
}

.grid .card {
  width: 100%;
}

.card {
  background: var(--accent-color);

  width: min-content;
  padding: 1.5em 1.25em;
  border-radius: 16px;
  transition: all 125ms ease-out;
}

.card:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.card:active {
  transform: translateY(2px);
}

.card-img {
  border-radius: 16px;
  overflow: hidden;
  height: 192px;
}

.card-img img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 12;
  width: 100%;
}

.card-name {
  color: var(--white);
  font-weight: var(--font-regular);
  font-size: 1.2rem;
  margin-top: 0.5em;
}

.card-price {
  color: var(--tertiary-color);
  font-size: 1rem;
  margin-top: 0.5em;
}
