.container {
  position: relative;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 8px;
}

.container input {
  background: transparent;
  border-radius: 8px;
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
}

.container button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 8px;
  padding: 8px;
  background: transparent;
}
