.container {
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 1em;
  color: var(--text-color);
}


.title {

  font-weight: var(--font-regular);
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 16px;
}
