.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--text-color);
  padding: 1em 0 2em 0;
}

.title {
  font-weight: var(--font-regular);
  font-size: 1.5rem;
}

.img {
  align-self: center;
  border-radius: 8px;
}

.name {
  color: var(--secondary-color);
  font-weight: var(--font-regular);
  font-size: 2rem;
}

.description {
  flex: 1;
  font-size: 1.25rem;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.detail span:last-child {
  color: var(--white);
  font-size: 1.25rem;
}

.buttons {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.buttons button:last-child {
  grid-column: span 2;
}
