.item {
    --bg-color: var(--field-color);
    --header-color: var(--text-color);
    --value-color: var(--white);
    display: flex;
    padding: 1.5em;
    border-radius: 16px;
    align-items: center;
    background: var(--bg-color);
    color: var(--header-color);
    transition: filter 250ms ease, background 250ms ease, color 250ms ease;
    margin-bottom: 20px;
}

.img {
    border-radius: 16px;
    overflow: hidden;
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-right: 4.5em;
}

.name {
    margin-bottom: 0.2em;
    color: var(--secondary-color);
    font-weight: var(--font-regular);
    font-size: 3em;
}

.label {
    display: inline-block;
    width: 200px;
    margin-right: 3em;
    color: var(--text-color);
    font-size: 1em;
}

.data {
    display: inline-block;
    color: var(--white);
    font-weight: normal;
    font-size: 1.7em;
}

.line {
    display: block;
    align-items: center;
    color: var(--text-color);
    font-size: 0.9rem;
    margin-bottom: 0.2em;
}