.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 1.5em;
  margin-top: 1em;
  width: 100%;
  border-radius: 16px;

  background: var(--accent-color);
  color: var(--text-color);
}

.container:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.details {
  display: inline-flex;
  justify-content: space-between;
}

.name-container {
  margin-bottom: 0.5em;
  flex-direction: column;

}

.address-container {
  width: 700px;
}

.label {
  align-items: center;
  font-size: 0.9rem;
}

.supplier-name {
  color: var(--secondary-color);
  font-weight: var(--font-regular);
  font-size: 2rem;
}

.supplier-contact,
.supplier-address {
  flex: 1;
  color: var(--white);
  margin-top: 0.2em;
  font-weight: var(--font-regular);
  font-size: 1.25rem;
}
