.container {
  --bg-color: var(--accent-color);
  --font-color: var(--text-color);
  --heading-color: var(--secondary-color);
  --value-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 1.5em;
  margin-top: 1em;
  width: 100%;
  border-radius: 16px;

  background: var(--bg-color);
  color: var(--font-color);

  transition: filter 125ms ease, background 250ms ease, color 250ms ease;
}

.container:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.container:active,
.container.isSelected {
  filter: none;
  --bg-color: var(--secondary-color);
  --font-color: var(--primary-color);
  --heading-color: var(--primary-color);
  --value-color: var(--primary-color);
}

.details {
  display: inline-flex;
  justify-content: space-between;
}

.name-container {
  margin-bottom: 0.5em;
  flex-direction: column;
}

.address-container {
  width: 700px;
}

.label {
  align-items: center;
  font-size: 0.9rem;
}

.supplier-name {
  color: var(--heading-color);
  font-weight: var(--font-regular);
  font-size: 2rem;
}

.supplier-contact,
.supplier-address {
  flex: 1;
  color: var(--value-color);
  margin-top: 0.2em;
  font-weight: var(--font-regular);
  font-size: 1.25rem;
}
