.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 28px;

  padding: 1.5em;
  margin-top: 1em;
  width: 100%;
  border-radius: 16px;

  background: var(--accent-color);
  color: var(--text-color);
}

.container:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.details {
  display: inline-flex;
}

.contactContainer,
.addressContainer {
  margin-left: 3em;
}

.addressContainer {
  width: 700px;
}

.label {
  display: inline-flex;
  gap: 36px;
  align-items: center;

  font-size: 0.9rem;
}

.supplierName {
  color: var(--secondary-color);
  font-weight: var(--font-regular);
  font-size: 2rem;
}

.supplierContact,
.supplierAddress {
  flex: 1;
  color: var(--white);
  margin-top: 0.5em;
  font-weight: var(--font-regular);
  font-size: 1.25rem;
}
