.container {
  padding: 1.5em;
  margin-top: 2em;
  border-radius: 16px;
  background: var(--accent-color);
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  display: inline-block;
  font-weight: var(--font-regular);
  color: var(--white);
}

.btn {
  width: 300px;
}
