.container {
  padding: 1.5em;
  margin-top: 2em;
  border-radius: 16px;
  background: var(--accent-color);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-block;
  font-weight: var(--font-regular);
  color: var(--white);
}

.btn {
  --btn-bg: var(--secondary-color);
  --btn-font-color: var(--primary-color);

  width: 100%;

  background: var(--btn-bg);
  color: var(--btn-font-color);

  padding: 12px 36px;
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  border-radius: 8px;

  transition: all 125ms ease-in;
}

.btn:disabled {
  --btn-bg: var(--primary-color) !important;
  --btn-font-color: var(--gray) !important;
  cursor: unset;
}

.btn:disabled:hover {
  filter: unset;
}

.btn:disabled:active {
  transform: translateY(0);
}

.btn:hover {
  filter: brightness(1.1);
}

.btn:active {
  transform: translateY(2px);
}

.btn.secondary {
  --btn-bg: var(--text-color);
}

.btn.error {
  --btn-bg: var(--error-color);
  --btn-font-color: var(--primary-color);
}
