.menu {
  background: var(--accent-color);
  border-radius: 8px;
}

.control {
  background: var(--primary-color);
  border: none;
  box-shadow: none;
}

.control:hover {
  cursor: pointer;
}

.input {
  color: var(--white);
}

.option {
  display: flex;
  background: var(--primary-color);
  color: var(--text-color);
}

.option:hover {
  cursor: pointer;
  color: var(--white);
  filter: brightness(1.2);
}

.option:active,
.option.isSelected {
  background: var(--secondary-color);
  color: var(--primary-color);
  filter: none;
}
