.container {
  background: var(--accent-color);

  padding: 1.5em 1.25em;
  border-radius: 16px;
  transition: all 125ms ease-out;

  position: relative;
}

.container:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.container:active {
  transform: translateY(2px);
}

.container.isDisabled {
  --color: var(--text-color);

  border: 2px solid var(--color);
  color: var(--color);
  transition: border 250ms ease;
}

.container.isDisabled:hover {
  filter: unset;
  cursor: unset;
}

.container.isDisabled:active {
  transform: unset;
}

.container.isDisabled.colorPrimary {
  --color: var(--tertiary-color);
}

.container.isDisabled::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--overlay-color);
  border-radius: inherit;

  content: attr(data-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 2rem;
  font-weight: var(--font-bold);

  transition: background 250ms ease;
}

.img {
  border-radius: 16px;
  overflow: hidden;
  height: 192px;
}

.img img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 12;
  width: 100%;
}

.name {
  color: var(--white);
  font-weight: var(--font-regular);
  font-size: 1.2rem;
  margin-top: 0.5em;
}

.price {
  color: var(--tertiary-color);
  font-size: 1rem;
  margin-top: 0.5em;
}
