.content {
  padding: 3em;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-size: 1.1rem;
}

.content h2 {
  font-size: 2rem;
}

.content span {
  font-weight: var(--font-bold);
}

.content button {
  margin-top: 1em;
}
