.container {
  flex: 1;
  display: flex;
  width: 80%;
}

.preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5em;

  background-color: var(--accent-color);
}

.main {
  flex: 3;
  overflow-y: scroll;
}
